__INSTALAR LIBRERIAS__

In [1]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5955 sha256=ec41f14940d38b7c01a529655d20e620c104babd30e04551e75b9763921acd1c
  Stored in directory: /Users/erickfernandochaconflores/Library/Caches/pip/wheels/84/45/a4/8ade6576f75410d8162c6da1de0aa9df56c16c711acab5a813
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

__IMPORTAR LIBRERIAS__

In [3]:
import numpy as np  
import matplotlib.pyplot as plt  
import pandas as pd  
from apyori import apriori

__IMPORTAR BASE DE DATOS Y PROCESAMIENTO DE DATOS__

In [6]:
df = pd.read_csv('/Users/erickfernandochaconflores/Downloads/analisis_canasta-master/bases_de_datos/grocery_20.csv', header = None )

In [7]:
df.head()

       0      1          2           3
0   MILK  BREAD    BISCUIT         NaN
1  BREAD   MILK    BISCUIT  CORNFLAKES
2  BREAD    TEA  BOURNVITA         NaN
3    JAM  JUICE      BREAD        MILK
4  JUICE    TEA    BISCUIT         NaN

In [8]:
df.tail()

        0       1          2           3
16  BREAD   SUGAR  BOURNVITA         NaN
17  BREAD  COFFEE    SPLENDA         NaN
18  BREAD  COFFEE     STEVIA         NaN
19    TEA    MILK     COFFEE  CORNFLAKES
20    NaN     NaN        NaN         NaN

In [10]:
#Eliminando fila donde todo sea NaN
df =df.dropna(how="all")
df.tail()

         0       1           2           3
15  COFFEE  STEVIA  CORNFLAKES         NaN
16   BREAD   SUGAR   BOURNVITA         NaN
17   BREAD  COFFEE     SPLENDA         NaN
18   BREAD  COFFEE      STEVIA         NaN
19     TEA    MILK      COFFEE  CORNFLAKES

In [11]:
len(df)

20

In [13]:
# En una sola lista meterá cada observación (i.e. factura) del conjunto de datos. Es una lista de listas.
records = []  
for i in range(0, len(df)):  
    records.append([str(df.values[i,j]) for j in range(0, len(df.columns))])

__REGLAS DE ASOCIACIÓN__

__DEFINIENDO PARAMETROS__

In [14]:
# CAMBIAR PARAMETROS:
productos = 2 # Número minimo de productos a considerar en las reglas de asociación
combinaciones = 3 #Quiero que las combinaciones que me muestre el algoritmo minimo aparezcan tres veces en la lista, son pocas porque solo tengo 20 listas.

# MÉTRICAS PARA LA CALIDAD DEL MODELO:
soporte = combinaciones / len(df)
confianza = 0.2 #Que minimo se compre el 20% del producto Y cuando se compre el 100% del producto X.
sustento = 1.7 #Para determinar que no es cuestión de suerte se compren ambos productos.

__ALGORITMO__

In [15]:
association_rules = apriori(records, min_support=soporte, min_confidence=confianza, min_lift=sustento, min_length=productos)
association_results = list(association_rules)  #Convertir los resultados a lista para facilidad de visualización

__RESULTADOS__

In [16]:
# Cuentas de resultados encontrados
len(association_results) # Número total de reglas (combinaciones) por el algoritmo

2

In [17]:
# Visualizar 1 resultado
association_results[1]

RelationRecord(items=frozenset({'JUICE', 'TEA'}), support=0.2, ordered_statistics=[OrderedStatistic(items_base=frozenset({'JUICE'}), items_add=frozenset({'TEA'}), confidence=0.8, lift=2.285714285714286), OrderedStatistic(items_base=frozenset({'TEA'}), items_add=frozenset({'JUICE'}), confidence=0.5714285714285715, lift=2.285714285714286)])

In [19]:
total_compras=len(df)
print(total_compras)

20

In [31]:
# Visualizar todos los resultados
contador=1
for item in association_results:

    pair = item[0] 
    items = [x for x in pair]
    print("Regla: " + items[0] + " -> " + items[1])

    #second index of the inner list
    print( "B --> A")
    print(contador)
    print("  Total de compras: " + str(total_compras))
    print("  Veces que aparece la combinación: " + str(item[1]*total_compras))
    print("  Soporte (% apariciones): " + str(item[1]*100)+ "%")
    print("  Confianza (de 100 veces que se compra A, el producto B se compra (i.e. A y B se comprarón): " + str(item[2][0][2]*100)+ "%")
    print("  Sustento (mayor a 1 -> no es casualidad): " + str(item[2][0][3]))
    print("==========================================================")
    print("==========================================================")
    contador=contador+1

Regla: COOKIES -> COFFEE
B --> A
1
  Total de compras: 20
  Veces que aparece la combinación: 3.0
  Soporte (% apariciones): 15.0%
  Confianza (de 100 veces que se compra A, el producto B se compra (i.e. A y B se comprarón): 37.49999999999999%
  Sustento (mayor a 1 -> no es casualidad): 1.8749999999999996
==========================================================
==========================================================
Regla: JUICE -> TEA
B --> A
2
  Total de compras: 20
  Veces que aparece la combinación: 4.0
  Soporte (% apariciones): 20.0%
  Confianza (de 100 veces que se compra A, el producto B se compra (i.e. A y B se comprarón): 80.0%
  Sustento (mayor a 1 -> no es casualidad): 2.285714285714286
==========================================================
==========================================================